.signUp__signIn-wrapper {
    display: flex;
    width: 800px;
    height: 500px;
    background-color: #1c1c22;
    border-radius: 10px;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
    position: relative;
  }
  
  .signUp__background {
    position: absolute;
    background-color: red;
    width: 50%;
    height: 100%;
    left: 0;
    transition: ease 0.5s;
  }
  
  .signUp__background-left {
    background-color: #1c1c22;
    left: 50%;
  }
